//
// Theme style
//

// Mode
$mode: default;

// Initialize
@import "init";

// Components
@import "../../core/sass/components/components";
@import "components/components";

// Layout
@import "layout/layout";
@import "../../core/sass/layout/docs/layout";


.dataTables_empty {
  text-align: center;
}

.modal-header {
  padding: 1.25rem 1.5rem;
}

.modal-footer {
  padding: 1.25rem;
}

.disabled-pointer-events {
  cursor: not-allowed !important;
}